
body{font-size: 100%; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}

form{
    width: 50%;
    margin: auto;
}

#grid-container {
    display: flex;
    flex-direction: row;
    /* justify-content:space-between; */
    flex-wrap: wrap;
  }
  .grid-item {
    background-color: #e1e1e1;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    border: 1px solid #d6d2d6;
    text-align: center;
    margin: 2%;
    width: 20%;
  }

  /* .grid-item:nth-child(6){
      order: 1;
  }
  .grid-item:nth-child(5){
      order: 2;
  }
  .grid-item:nth-child(4){
    order: 3;
}
.grid-item:nth-child(3){
    order: 4;
}
.grid-item:nth-child(2){
    order: 5;
}
.grid-item:nth-child(1){
    order: 6;
} */

  /* .grid-item:nth-child(3){
    background: red;
    order:-3
  } */
  


.tab{
    margin-bottom: 20px;
    min-height: 300px;
    background: #dedede;
    padding: 20px;
}

fieldset{
    border:none;
    padding: 0;
    width: 100%;
}

legend {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    color: #640013;
    font-weight: bold;
}

abbr[title]{
    text-decoration: none;
    color: red
}

select, input[type='text'], input[type='password']{
    width: 50%;
    height: 30px;
    box-shadow: none;
}

label[for='username'], 
label[for='password'], 
label[for='confirmpassword'],
label[for='experience']
{
    width: 25%;
    display: inline-block;
}

.tab span{
    height: 20px;
    display: block;
    margin: 10px 0 10px 26%;    
}

.show-error{
    color: red;
    margin-left: 26%;
}
.hide-error{visibility: hidden;}

#success{
    color: green;
    font-size: 150%;
}

.center{text-align: center;}
.right{text-align: right;}

button {
background: green;
color: #fff;
padding: 7px 20px;
border: none;
font-size: 1em;
cursor: pointer;
}

.show{display: inline;}
.hide{display: none;}
.sorting{
    width: 25%;
    margin: auto;
}

.sizes{
    float: left;
    width: 10%;
}

input[type='checkbox'] {
    width: 28px;
    height: 28px;
    position: relative;
    background: #fcfff4;
    float: right;
    cursor: pointer;
   }

select {
    position: relative;
    width: 200px;
    margin: 0 auto;
    background: #fff;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;
}  

@media only screen and (max-width: 768px){
    .sorting {
        width: 50%;
        margin: auto auto 30px;
    }
    body{font-size: 100%;}
    form{
        width:100%;
    }
    .tab{
        margin-bottom: 0;
    }
    label[for='username'], label[for='password'], label[for='confirmpassword'], label[for='experience'] {
        width: 100%;
        display: inline-block;
    }

    select, input[type='text'], input[type='password'], .sizes, .grid-item {
        width: 100%;
        float: none;
    }

    legend {
        width: 100%;
        margin-bottom: 20px;
    }
    .tab span{
        margin-left: 0;    
    }

}
